/* ----- Scrollbar ----- */
*::-webkit-scrollbar {
    width: 5px;

    /* Firefox only */
    scrollbar-width: thin;
    scrollbar-color: #f98f26;
}

*::-webkit-scrollbar-track {
    background-color: gray;
}

*::-webkit-scrollbar-thumb {
    background-color: #f98f26;
    border-radius: 20px;
    border: 3px solid #f98f26;  
}

html {
    scroll-behavior: smooth;
}

/* ----- BPM loading spinner ----- */
.loader,
.loader:before,
.loader:after {
  background: #f98f26;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #f98f26;
  text-indent: -9999em;
  margin: auto;
  position: block;
  font-size: 5px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/* ----- Input type number ----- */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}